@model IEnumerable<MediumClone.Models.ApplicationUser>
@{
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
    ViewData["Title"] = "User Management";
}

<h2>User Management</h2>

<table class="table table-bordered table-striped mt-4">
    <thead class="table-dark">
        <tr>
            <th>Email</th>
            <th>Username</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var user in Model)
        {
            <tr>
                <td>@user.Email</td>
                <td>@user.UserName</td>
            </tr>
        }
    </tbody>
</table>